<a href="https://colab.research.google.com/github/Nish111/2710/blob/master/BeautifulSoupUsage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scraping 2011 Premier League Data
1. Team Name
2. Points

In [2]:
import requests

In [3]:
url = 'https://www.skysports.com/premier-league-table/2011'

In [4]:
page = requests.get(url)

In [5]:
print(page.status_code)

200

In [6]:
print(page)

<Response [200]>

In [8]:
#print(page.text)

In [9]:
from bs4 import BeautifulSoup

In [10]:
soup = BeautifulSoup(page.text, 'html.parser')

In [12]:
#print(soup.prettify)

In [13]:
print(soup.find('a'))

<a class="svg-logo site-header__logo" href="https://www.skysports.com">
<img class="svg-logo__image" onerror="this.onerror=null;this.src='/core/img/channels/Sky-Sports-Logo.png'" src="/core/img/channels/Sky-Sports-Logo-transparent.svg"/>
</a>

In [15]:
#print(soup.find_all('a'))

In [16]:
soup.find_all('a')[1]

<a class="site-header__col site-header__col4 site-header__nav-button-hit-area" data-role="open-left-hand-nav" href="#no-js-nav" tabindex="1">
<svg class="site-header__nav-button" version="1.1" viewbox="0 0 2048 2048" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<rect height="256" width="2048" y="384"></rect>
<rect height="256" width="2048" y="896"></rect>
<rect height="256" width="2048" y="1408"></rect>
</svg>
</a>

In [21]:
league = soup.find('table', class_ = 'standing-table__table')

In [23]:
#print(league)

In [24]:
league_table = league.find_all('tbody')

In [26]:
#print(league_table)

In [32]:
for league_teams in league_table:
    rows = league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td', class_ = 'standing-table__cell standing-table__cell--name').text.strip()
        #print(team_names)
        team_points = row.find_all('td', class_ = 'standing-table__cell')[9].text.strip()
        #print(team_points)
        print(team_names, team_points)

Manchester City 89
Manchester United 89
Arsenal 70
Tottenham Hotspur 69
Newcastle United 65
Chelsea 64
Everton 56
Liverpool 52
Fulham 52
West Bromwich Albion 47
Swansea City 47
Norwich City 47
Sunderland 45
Stoke City 45
Wigan Athletic 43
Aston Villa 38
Queens Park Rangers 37
Bolton Wanderers 36
Blackburn Rovers 31
Wolverhampton Wanderers 25

In [36]:
import pandas as pd

In [37]:
league_2011 = []

for league_teams in league_table:
    rows = league_teams.find_all('tr')
    for row in rows:
        team_names = row.find('td', class_ = 'standing-table__cell standing-table__cell--name').text.strip()
        team_points = row.find_all('td', class_ = 'standing-table__cell')[9].text.strip()
        league_dict = {'name': team_names,
                       'pts': team_points
                      }
        league_2011.append(league_dict)

In [38]:
df = pd.DataFrame(league_2011)

In [39]:
df.head()

                name pts
0    Manchester City  89
1  Manchester United  89
2            Arsenal  70
3  Tottenham Hotspur  69
4   Newcastle United  65

In [40]:
df

                       name pts
0           Manchester City  89
1         Manchester United  89
2                   Arsenal  70
3         Tottenham Hotspur  69
4          Newcastle United  65
5                   Chelsea  64
6                   Everton  56
7                 Liverpool  52
8                    Fulham  52
9      West Bromwich Albion  47
10             Swansea City  47
11             Norwich City  47
12               Sunderland  45
13               Stoke City  45
14           Wigan Athletic  43
15              Aston Villa  38
16      Queens Park Rangers  37
17         Bolton Wanderers  36
18         Blackburn Rovers  31
19  Wolverhampton Wanderers  25